 /********************************** 
 --> Navigation bar
 --> Images & Backgrounds // Paddings 
 --> Buttons
 --> TExt
 --> Customization
 *************************************/


/*

body {
	color: white;
}*/

section {
	color: white;
	padding: 30px;
	margin: 0;
}


 /**********************************
	Navigation bar
 *************************************/

.navbar::selected {
	color: #53bad1;
}
.navbar-inverse {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.70);
}

.nav li a:hover {
	color: #53bad1;
}

.navbar-brand > img {
	margin-top: -5px;
}

#menu_navbar-collapse > .navbar-nav > li > a {
	line-height: 30px;
	background: transparent;
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb > li a {
	color: #fff;
	text-decoration: none;
}

ul.nav.navbar-nav.navbar-right {
  padding-top: 15px;
}

body > .menu_sticky {
	z-index: 1;
}
 /**********************************
	Images & Backgrounds // Paddings 
 *************************************/
.img-responsive {
	margin-top: 10px;
}


.row {
	padding-left: 30px; 
	padding-top: 20px;
}

#Thumbnail_img > ul {
	padding-left: 0;
	padding-top: 0;
}


.minimalBox {
	width: 20%;
	display: inline-block;
}	


.layer {
	background-color: rgba(0, 0, 0, 0.2);
  	padding: 200px;
  	color: #fff;
  	border: 1px;
  	border-color: #fff;
  	position: relative;
}

.layer_bg {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid;
	margin: 0;
	position: relative;
}
.cover {
	background-size: 100%;
}

.lead {
	color: white;
}

#FullScreenSlide {
	background-color: #53bad1;
	padding: 30px;
	margin: 0;
}

.sticky {
	position: fixed;
	width: 100%;
	top: 0px;
}

.photo-bg {
	width: 1365px;
	background-repeat: no-repeat;
  	background-position: 50% 0;
  	background-size: cover;
  	background-attachment: fixed;
}

.bg_bar_img {
	background-color: #53bad1;
	padding: 20px;
}

.bg_bar_img > .container > .row {
	border: 2px solid;
	border-color: #fff;
}

.bg_layer_blue {
	border: 2px solid;
	padding: 30px 30px;

}

.info_Neko {
	background-color: black;
	color: white;
	padding: 20px;
}

.pt30 {
	padding-top: 30px;
}

.pb30 {
	padding-bottom: 30px;
}

.pt40 {
	padding-top: 40px;
}

.pb40 {
	padding-bottom: 40px;
}
 /**********************************
	Buttons
 *************************************/

.btn-lg {
	margin-bottom: 5px;
}

.customization > .btn_transp {
	background-color: transparent;
	border-color: transparent;
	color: #5bc0de;
	text-align: left;
}
.customization > .btn:hover, .btn:active {
	background-color: #5bc0de;
	border-color: #5bc0de;
	color: white; 
}


 /**********************************
	MAP
 *************************************/

/*
#map_canvas {
  width: 500px;
  height: 380px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223)
}
*/

.map {
	width:1140px;
	height:380px;
	margin-top: 30px;

}

  /**********************************
	TExt
 *************************************/

body {
	font-size:14px;
	line-height: 22px;
	font-family: 'Roboto',sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	/*padding-top: 81px;*/
	background: #383838;
}
h1, h2, h3, h4, h5, h6, {
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 1.25em;
	margin: 0 0 0.75em 0;
}
h1 {
	font-size: 36px;
	margin-bottom: 0.25em;
	font-weight: 100;
}
h1 strong{
	padding:0 10px;
	font-weight: 300;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

.footer_info {
	color: white;
	text-align: center;
	margin-top: 15px;
}

.header {
	height: 300px;
}

.bg_bar_img > h2 {
	color: #fff;
}

.layer_text {
	/*margin: 0;
	position: absolute;*/
}

.text_left {
	text-align: left;
}

/**********************************
	Customization
 *************************************/

.row .col-md-3 {
  padding-top: 5px;
}
